@font-face {
   font-family: 'dattebayo';
   font-display: swap;
   src: url('file:///C:/Users/ENGR.%20IRENE/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-08-22_111612/fonts/dattebayo/font.ttf');
}
